:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}
/* reset */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>header>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* placing */
header {
  padding-top: 0px;
  padding-bottom: 0px;
}
.header-container {
  height: 72px;
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 76px;
}

.nav-position {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-link:not :last-child {
  margin-right: 40px;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px blue;
  outline-offset: -2px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>hero>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>future>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.future-list {
  display: flex;
  gap: 24px;
}
.specifics {
  margin-top: 120px;
}
.text-style-header-a {
  padding-bottom: 8px;
}
.title {
  margin-top: 0px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>what we are doing >>>>>>>>>>>>>>>>>>> */
.doing-container {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 72px;
}
/* text color type */
.link {
  color: var(--color-slate);
  text-decoration: none;
}
.occupation {
  margin-top: 120px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>team>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.team-list {
  display: flex;
  gap: 24px;
  padding-top: 72px;
  padding-bottom: 120px;
}
.team-style {
  margin-top: 120px;
}
.title-our-team {
  padding-top: 120px;
}
.team-card-title {
  text-align: center;
  padding-top: 32px;
}
.team-card-title-p {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 32px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>footer>>>>>>>>>>>>>>>>>>>>>> */
.footer-p {
  width: 264px;
  padding-top: 16px;
  padding-bottom: 100px;
}
.logo-footer {
  display: inline-block;
  padding-top: 100px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>portfolio buttons>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.button-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 96px;
  margin-bottom: 72px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>gallery foto>>>>>>>>>>>>>>> */
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.gallery-foto {
  flex-basis: calc((100%-48px) / 3);
}
.gallery-text {
  border: 1px solid var(--color-cornflower);
  border-top: none;
  padding: 32px 16px;
}
/* body */
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: var(--color-white);
  color: var(--color-slate);
}
/* list ul */
.list {
  font-weight: 500;
  list-style: none;
  color: var(--color-slate);
}
/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  text-decoration: none;
}
.link-name {
  color: var(--color-navy-blue);
}

.links:hover,
.links:focus {
  color: var(--color-ocean);
}
.link:hover,
.link:focus {
  color: var(--color-ocean);
}

/* button hover focus */
.oder-button:hover,
.oder-button:focus {
  background-color: var(--color-ocean);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
/* card team background */
.team-style {
  background-color: var(--color-cloud);
}
/* footer  background*/
.footer-style {
  background-color: var(--color-navy-blue);
}
/* link footer */
.link-name-footer {
  color: var(--color-cloud);
}
/* footer text  */
.footer-text {
  font-family: inherit;
  color: var(--color-white);
}
/* team card  */
.team-card {
  background-color: var(--color-white);
}
.tel-mail {
  font-style: normal;
}

/* title-h1 */
.main-title {
  margin-bottom: 48px;
  width: 496px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.hero {
  background-color: var(--color-navy-blue);
}
/* title-h2 */
.text-style-header-b {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
/* title-h3 */
.text-style-header-a {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
/* style for <P> */
.text-style-body-medium {
  font-weight: 400;
  color: var(--color-slate);
}
/* oder button style */
.oder-button {
  min-width: 169px;
  min-height: 56px;
  padding: 16px 31px;
  background: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-style: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-iris);
  cursor: pointer;
}
/* filter button style */
.filter-button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
/* link style */
.links {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  color: var(--color-navy-blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset 100%;
  clip: rect 0 0 0 0;
  overflow: hidden;
}
